
<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>

<div class="alert alert-danger mt-3" role="alert">
    <h1>Error Page</h1>
    <p><%= message %></p> <!-- router se pass hone wala message -->
</div>
